# ===============================================================
# Git ignore file
# ===============================================================

# Packages - keep folder structure but ignore actual installers
packages/*
!packages/**/

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db